footer {
	position: fixed;
	/* mantém o footer visível no fim da tela */
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(270deg, #00ff88, #0088ff, #8800ff, #ff0088);
	background-size: 800% 800%;
	animation: moverGradiente 10s ease infinite;
	color: #fff;
	text-align: center;
	padding: 15px 0;
	font-family: 'Segoe UI', sans-serif;
	font-size: 0.9rem;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	z-index: 9999;
	/* garante que fique acima de outros elementos */
}

.direitos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dev-info {
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	letter-spacing: 0.5px;
}

@keyframes moverGradiente {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}